.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    .left{
        flex: 0.5;
        img{
            height: 100%;
        }
    }
    .right{
        flex: 0.5;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: center;
        form{
            display: flex;
            flex-direction: column;
            height: 60%;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0;
            
            input{
                width: 275px;
                padding: 5px;
            }
            textarea{
                width: 275px;
                padding: 5px;
            }
            .sendBtn{
                background-color: crimson;
                color: white;
                border: none;
                border-radius: 5px;
                padding: 5px;
                width: 70px;
            }
        }
    }
}