@import "../../universal.scss";
.sidebar{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -200px;
    z-index: 2;
    height: 100vh;
    width: 260px;
    transition: all 1s ease;
    

    &.active{
        right: 0px;
        background-color: $main-color;
        
    }
    ul{
        margin: 0px;
        padding: 0px;
        color: white;
        font-size: 25px;
        font-weight: 300;
        width: 60%;
        
        li{
            margin-bottom: 20px;
            a{
                text-decoration: none;
                font-size: inherit;
                color: inherit;
                
            }
            &:hover{
                font-weight: 500;
            }
            
        }
        
    }

}