.app {
    height: 100vh;
    .sections {
        width: 100%;
        height: calc(100vh - 60px);
        position: relative;
        top: 60px;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;//firefox 
        &::-webkit-scrollbar{
            display: none;
        }
        > *{
            width: 100%;
            height: calc(100vh - 60px);
            scroll-snap-align: start;
        }
    }
}